table.bookings tr.alternate,
table.bookings tr.alternate a,
table.bookings tr.planned,
table.bookings tr.planned a {
    opacity: 0.5;
    color: inherit;
}


tr.booking.ui-draggable-dragging {
    display: table-row;
}

tr.booking.ui-draggable-dragging td {
    padding: 0.25em;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px #ccc solid;
    background: white;
}
