.planner a .fc-time,
.planner a .fc-title {
    text-decoration: underline;
}

.planner .fc-view {
    background-color: white;
}

.planner ul.plan .pu_time,
.planner ul.plan .name,
.planner ul.plan .contact,
.planner .fc-start ul.plan .date,
.planner ul.plan .notes {
    display: none;
}

.assignable {
    border-style: dashed;
    border-color: white;
}

.assign {
    border-style: solid;
    border-color: black;
}

.ui-draggable-dragging {
    box-shadow: 0 3px 6px rgba(0,0,0,.3)
}
