.main-content ul.job li,
.planner ul.job li {
    list-style: none;
}

#job ul.job {
    columns: 24em;
}

ul.job li.paragraph {
    column-span: all;
    max-width: none;
}

ul.job li.phone {
    font-size: inherit;
    background-color: inherit;
    vertical-align: inherit;
    padding: inherit;
}

table.passenger {
    width: 100%;
}

table.passenger caption {
    font-weight: bold;
}

table.passenger caption::after {
    content: ":";
}

table.passenger td.address {
    white-space: pre-line;
}
