ul.plan {
    margin: 0;
    line-height: 1.6em;
    min-height: 3.2em;
    columns: 16em;
    white-space: normal;
}

ul.plan li {
    margin: 0;
    break-inside: avoid;
}

ul.plan li.notes {
    column-span: all;
}

ul.plan li[data-label]::before {
    content: attr(data-label) ':\a0';
    font-weight: bold;
    white-space: nowrap;
}
