.planner a {
    text-decoration: none;
    color: inherit;
}

.planner a .fc-time,
.planner a .fc-title {
    text-decoration: underline;
}

.planner .fc-view {
    background-color: white;
}

ul.plan .pu_time,
ul.plan .name,
ul.plan .contact,
ul.plan .date,
ul.plan .notes {
    display: none;
}

#drivers,
#vehicles {
    display: none;
}

.assignable {
    border: dotted white !important;
}

.assign {
    border: dashed white !important;
}
