dl.plan {
    border-collapse: collapse;
    border-bottom: 0.125em solid hsla(0, 100%, 100%, 0.5);;
}

dl.plan:first-of-type {
    border-top: 0.125em solid hsla(0, 100%, 100%, 0.5);;
}

dl.plan dt {
    width: 20%;
}

dl.plan dd {
    width: 30%;
}

dl.plan dt:nth-of-type(even) {
    border-left: 0.125em solid hsla(0, 100%, 100%, 0.5);
    padding-left: 0.25em;
}

dl.plan dt.notes {
    text-align: center;
}

dl.plan .notes {
    width: 100%;
    white-space: normal;
}
