ul.vehicles {
    columns: 4;
}

li.plate.ui-draggable-dragging,
ul.vehicles li {
    display: inline-block;
    padding: 0.25em 0.5em;
    white-space: nowrap;
    box-sizing: border-box;
    border: solid 0.125em #000;
    border-radius: 0.3333em;
    font-family: "Share Tech Mono", monospace;
    background-color: white;
    font-size: 1.2310em;
    width: 6em;
    text-align: center;
}
