ul.vehicles {
    columns: 4;
    width: min-content;
}

li.plate.ui-draggable-dragging,
ul.vehicles li {
    list-style: none;
    padding: 0.25em 0.5em;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
}

li.plate {
    border: solid 0.125em #000;
    border-radius: 0.3333em;
    font-family: "Share Tech Mono", monospace;
    background-color: #fcfcfc;
    font-size: 1.2310em;
    min-width: 6em;
}
